.rootDiv {
    box-sizing: content-box;
    border-color: transparent;
    color: var(--neutral000);
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-evenly;
    font-family: var(--fontInter);
    font-size: var(--sizeLabel);
    padding: var(--spacing3);
    position: relative;
}

.error {
    background-color: var(--error500);
    border-radius: 12px;
    border-style: solid;
}

.warning {
    background-color: var(--warning500);
    border-radius: 12px;
    border-style: solid;
}

.success {
    background-color: var(--success500);
    border-radius: 12px;
    border-style: solid;
}

.info {
    background-color: var(--primary600);
    border-radius: 12px;
    border-style: solid;
}

.content {
    font-size: var(--sizeLabel);
    font-weight: var(--weightRegular);
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    font-size: var(--sizeBodyS);
    font-weight: var(--weightSemiBold);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}