.button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    opacity: 1;
    padding: 8px;
}

.button:hover {
    opacity: 0.85;
}